.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  color: #5c5c5c;
  text-align: left;
}

.table td,
.table th {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.table th {
  padding: 1rem;
  font-weight: 400;
}
