.Product {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  .image {
    background-color: #ebebeb;
  }
  .name {
    font-weight: 600;
  }
  .price {
    font-weight: 600;
    margin-top: 0.5rem;
  }
}
